<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">He's finished reflecting.</h3>
        </div>

        <h1>Here's what he found:</h1>
        <form action="/back" method="GET">
            <input type="submit" name="my-form" value="Different topic">
        </form>

    </div>
</body>

</html>